[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
itsdangerous = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Jinja2 = "*"
MarkupSafe = "*"
SQLAlchemy = "*"
Werkzeug = "*"
psycopg2 = "*"
psycopg2-binary = "*"
gunicorn = "*"
requests = "*"
connexion = ">=2.2.0"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"
swagger-ui-bundle = "*"
jose = "*"
six = "*"
flask-jwt-extended = "*"
crypto = "*"
python-jose = {extras = ["cryptography"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
