[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
itsdangerous = "*"
Flask = "*"
SQLAlchemy = "*"
Flask-SQLAlchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
psycopg2 = "*"
psycopg2-binary = "*"
gunicorn = "*"
requests = "*"
connexion = "*"
swagger-ui-bundle = "*"
openapi-schema-validator= "*"
openapi-spec-validator= "*"
jose = "*"
six = "*"
crypto = "*"
python-jose = {extras = ["cryptography"], version = "3.4"}
python-dotenv = "*"
setuptools = "*"
httpie = "*"
httpie-jwt-auth = "*"

[dev-packages]

[requires]
python_version = "3.8"
